/* application css stylesheet */

html,
body {
}

.product-line {
    border-bottom: 1px solid #CCCCCC;
    padding-top: 5px;
    padding-bottom: 10px;
}

.components-vertical-spacer {
    padding-top: 10px;
    padding-bottom: 5px;
}

.tag:hover {
    border-bottom: 1px solid #6d6d6e;
    text-decoration: none;
}

.bin {
    background-repeat: no-repeat;
    background-position: right top;
}

.bin-green {
    background-image: url("../images/bin-green.png");
}

.bin-yellow {
    background-image: url("../images/bin-yellow.png");
}

.bin-black {
    background-image: url("../images/bin-black.png");
}

.bin-brown {
    background-image: url("../images/bin-brown.png");
}

.iwb-footer {
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #CCCCCC;
}
