<form class="form-horizontal" name="cvForm" novalidate>
    <div class="row">
        <span class="offset11">
            <a class="btn btn-large btn-primary" ng-click="updateCv(cv)"><i class="icon-pencil"></i> Update</a>
        </span>
    </div>
    <div class="row" ng-controller="FileUploadCtrl">
        <span class="span3 offset1">
            <img src="img/default.jpg" class="img-polaroid">
                <input type="file" id="fileToUpload" name="file" multiple onchange="angular.element(this).scope().setFiles(this)" />
            </img>
            <input type="button" ng-click="uploadFile()" value="Upload" />
        </span>

        <span class="span8">
            <h2><input type="text" id="cvFirstName" class="skillz-edit input-large span4" ng-model="cv.firstName" ng-value="cv.firstName"/>&nbsp;<input type="text" id="cvLastName" class="skillz-edit input-large span3 " required ng-model="cv.lastName" ng-value="cv.lastName"/></h2>
            <div><input type="text" id="cvTitle1" class="input-large skillz-edit" ng-model="cv.title" ng-value="cv.title"/></div>
            <div><input type="text" id="cvTitle2" class="input-large skillz-edit" ng-model="cv.subTitle" ng-value="cv.subTitle"/></div>
            <div><input type="text" id="cvExp" class="input-large skillz-edit" ng-model="cv.exp" ng-value="cv.exp"/> Année d'expérience</div>
            <div><input type="text" id="cvMail" class="input-large skillz-edit" ng-model="cv.mail" ng-value="cv.mail"/></div>
        </span>
    </div>
    <div class="row">
        <h4>Profil&nbsp;<button class="btn btn-mini" ng-click="addProfil()"><i class="icon-plus"></i></button></h4>
        <div class="row" ng-repeat="profil in cv.profils">
            <div class="row">
                <input type="text" class="input-large skillz-edit" ng-model="profil.title" ng-value="profil.title"/>&nbsp;<button class="btn btn-mini" ng-click="removeProfil($index)"><i class="icon-minus"></i></button>
            </div>
            <div class="row">
                <textarea rows="5" class="input-medium span12" ng-model="profil.description" ng-value="profil.description"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <h4>Compétences&nbsp;<button class="btn btn-mini" ng-click="addCompetence()"><i class="icon-plus"></i></button></h4>
        <div class="row" ng-repeat="competence in cv.competences">
            <div class="row">
                <input type="text" class="input-large skillz-edit" ng-model="competence.categorie" ng-value="competence.categorie"/>&nbsp;<button class="btn btn-mini" ng-click="removeCompetence($index)"><i class="icon-minus"></i></button>
            </div>
            <div class="row">
                <textarea rows="5" class="input-medium span12" ng-model="competence.detailedCompetences" ng-value="competence.detailedCompetences"/>
            </div>
        </div>
    </div>
</form>