<div class="row pagination-centered">
    <span class="span3 offset1">
        <img src="img/default.jpg" />
    </span>
    <span class="span8">
        <h2>{{cv.name}}</h2>
        <h3>{{cv.title1}}</h3>
        <h3>{{cv.title2}}</h3>
        <p>{{cv.exp}}</p>
        <p>{{cv.mail}}</p>
        <p>{{cv.blog}}</p>
    </span>
</div>

<div class="span12">
    <h4>Profil</h4>
    <table class="table">
        <tr ng-repeat="profil in cv.profil">
            <td>{{profil.title}}</td>
            <td>
                <p ng-repeat="desc in profil.desc">{{desc}}</p>
        </tr>
    </table>

    <h4>Compétences</h4>
    <table class="table">
        <tr ng-repeat="competence in cv.competences">
            <td>{{competence.title}}</td>
            <td>{{competence.desc}}</td>
        </tr>
    </table>

</div>