<div class="jumbotron">
    <div class="container">
        <h1>Hello, world!</h1>

        <p>This wonderful project gives you a chance to save the world</p>

        <p><a href="#/project" class="btn btn-success btn-lg">Learn more</a></p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <h2>On the way</h2>

            <p>Discover the latest news of the project, the new feature and the road map.</p>

            <p><a class="btn btn-primary" href="#/project">Let's have a look &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>Latest activity</h2>

            <p>Let's have a look to the trendy products that are actively being searched.</p>

            <p><a class="btn btn-primary" href="#/statistics">Show it &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>In the world</h2>

            <p>Don't know yet what is meant to be but this page with 3 columns looks nice. We will find out what to post here later.</p>

            <p><a class="btn btn-primary" href="#/news">Learn me &raquo;</a></p>
        </div>
    </div>
</div>