<!DOCTYPE html>
<html>
<head>
    <title>Skillz</title>
    <link href="css/app.css" rel="stylesheet" media="screen"/>
    <link href="css/bootstrap-united.css" rel="stylesheet" media="screen"/>
</head>

<body>
<div class="tabbable">
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">Compétences</a></li>
        <li><a href="#tab2" data-toggle="tab">Consultant</a></li>
        <li><a href="#tab3" data-toggle="tab">Missions</a></li>
    </ul>
    <div class="tab-content">

        <!-- Compétences panel -->
        <div class="tab-pane active" id="tab1">
            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Domaine</th>
                    <th>Nb de consultant</th>
                </tr>
                <tr>
                    <td>JPA</td>
                    <td>Persistence</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>MyBatis</td>
                    <td>Persistence</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>MySql</td>
                    <td>Base de données</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Maven</td>
                    <td>Production logicielle</td>
                    <td>4</td>
                </tr>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>

        <!-- Consultant panel -->
        <div class="tab-pane" id="tab2">
            <table class="table table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Expertise</th>
                </tr>
                <tr>
                    <td>Delaporte</td>
                    <td>Raphaël</td>
                    <td>SOA</td>
                </tr>
                <tr>
                    <td>Landure</td>
                    <td>Julien</td>
                    <td>Google</td>
                </tr>
                <tr>
                    <td>Mouterde</td>
                    <td>Martin</td>
                    <td>Flex</td>
                </tr>
                <tr>
                    <td>Brousse</td>
                    <td>Sébastien</td>
                    <td>Forge logicielle</td>
                </tr>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>

        <!-- Missions panel -->
        <div class="tab-pane" id="tab3">
            <table class="table table-striped">
                <tr>
                    <th>Client</th>
                    <th>Date début</th>
                    <th>Durée</th>
                </tr>
                <tr>
                    <td>SFR</td>
                    <td>10/2010</td>
                    <td>3 mois</td>
                </tr>
                <tr>
                    <td>IS2T</td>
                    <td>10/2012</td>
                    <td>2 mois</td>
                </tr>
                <tr>
                    <td>Areva</td>
                    <td>05/2011</td>
                    <td>5 mois</td>
                </tr>
                <tr>
                    <td>DCNS</td>
                    <td>07/2007</td>
                    <td>4 mois</td>
                </tr>
            </table>
            <div class="pagination pagination-centered">
                <ul>
                    <li class="disabled"><a href="#">«</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">»</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>